
body {
    font-family: Ubuntu, Open Sans, sans-serif;
}

#group > div {
    display: inline-block;
    width: 48%;
    border: 1px solid lightgray;
}

#thanks {
  font-size: 13px;
  font-style: italic;
}

#options {
  margin-top: 10px;
  font-size: 14px;
}
